<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net46" />
  <package id="Moq" version="4.7.99" targetFramework="net46" />
  <package id="Moq.AutoMock" version="0.4.0.0" targetFramework="net46" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net46" />
  <package id="NUnit" version="3.7.1" targetFramework="net46" />
</packages>