<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Karpach.RemoteShutdown.Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <userSettings>
    <Karpach.RemoteShutdown.Controller.Properties.Settings>
      <setting name="RemotePort" serializeAs="String">
        <value>5001</value>
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SecretCode" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCommand" serializeAs="String">
        <value>0</value>
      </setting>
	  <setting name="Filename1" serializeAs="String">
		<value />
	  </setting>
	  <setting name="Filename2" serializeAs="String">
		<value />
	  </setting>
    </Karpach.RemoteShutdown.Controller.Properties.Settings>
  </userSettings>
</configuration>
